<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
     
       <div class="container-fluid mt-5 contact-style mt-lg-5" id="contactid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <h1 class="text-center main-heading">Contact-us</h1>
               <p  class="text-center sub-heading" >grow your business with us</p>
                    <div class="cutomersupport mt-50 ">
                  <h1>Cutomer Support:</h1>
                   <p> we are always available to customer support any time you talk to over customer support team to mail , phone and visit our company.</p>
       
              <div class="row row-cols-1 row-cols-md-2 g-2">
                <div class="col">
                    <div class="card bg-white">
                    {{!-- our maps start --}}
                            {{>maps}}
                        {{!-- our maps start --}}
                    </div>
                </div>
               <div class="col">
                <div class="card bg-white">
                 <b>Over Help Support team:</b>
                    <p>Address: - 1st Floor, Plot No. 9, Transport Nagar Ext. Kota - 324005,Rajasthan</p>
                    <p>Mobile no: - +91-9408794336</p>
                    <a href="https://mail.google.com">garg.universal@gmail.com</a>
                
               </div>
              </div>
             </div>
            </div>
          </div>
        </div>
    </div>


</body>
</html>