<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <footer class="mt-lg-5">
    <diV class="footer">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-auto">
            <img src="image/UST logo.jpg" class="h-10 w-25" alt="...">
            <div class="card-body ">
              <a href="https://www.facebook.com/profile.php?id=100088641874943" class="text-white"><i class="bi bi-facebook"></i></a>
              <a href="#" class="text-white"><i class="bi bi-linkedin"></i></a>
              <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
              </ul>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-auto">
            <div class="card-body">
              <i class="bi bi-pin-map-fill"></i>
               <h2 class="card-title"> Corporate Office</h2>
               <small>Universal Solar Tech Ltd</small> 
        <br><br>
               <p><a href="https://www.google.com/maps/place/Mahindra+Construction+Equipments/@25.1277882,75.851238,97m/data=!3m1!1e3!4m8!1m2!2m1!1s1st+Floor,+Plot+No.+9,+Transport+Nagar+Ext.+Kota+-+324005,Rajasthan!3m4!1s0x396f84fda5862305:0xe8c4240320816785!8m2!3d25.1280334!4d75.8512561" class="text-decoration-none text-white">1st Floor, Plot No. 9, Transport Nagar Ext. Kota - 324005,Rajasthan </a></p> 
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-auto Conduct_us">
            <div class="card-body">
              <i class="bi bi-telephone-outbound"></i>
              <h2 class="card-title">Talk to Us</h2>
              <p>Our customer experience team is ready to answer any questions.</p>
              <phone>Toll Free - +91-9408794336 </phone>
            </div>
          </div>
        </div>
       <div class="col">
        <div class="card h-auto Conduct_us">
          <div class="card-body">
            <i class="bi bi-envelope-fill"></i>
            <h2 class="card-title">Drop Email</h2>
              <p>Send us an email and we will make sure it gets to the right person</p>
               <a href="https://mail.google.com" class="text-decoration-none text-white" >garg.universal@gmail.com</a>
            </div>
        </div>
      </div>
     </diV>
    
      <hr class="dropdown-divider">
       
      <div class="row row-cols-1 row-cols-md-4 g-4 ">
            <div class="col">
              <div class="card h-auto">
               
              </div>
            </div>
            <div class="col">
              <div class="card h-auto">
                <div class="card-body">
                  <h2 class="card-title">Products</h2>
                  <ul>
                    <p><a href="#serviceid" class="text-white text-decoration-none">PV Modules</a></p>
                    <p><a href="#serviceid" class="text-white text-decoration-none">Inverter</a></p>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-auto md-10">
                <h2 class="card-title">Services</h2>
                <div class="card-body">
                  <ul>
                   <p><a href="#serviceid" class="text-white text-decoration-none">Installation</a></p>
                   <P><a href="#contactid" class="text-white text-decoration-none">Customer Support</a></P>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-auto">
                 <div class="card-body">
                  <h2 class="card-title">Company</h2>
                  <ul>
                    <p><a href="#aboutid " class="text-white text-decoration-none">About Us</a></p>
                    <p>Why Solar</p>
                  </ul>
                </div>
              </div>
            </div>
          </diV>
           <hr class="dropdown-divider">
           <div class="last">
            <p><i class="bi bi-c-circle"></i> 2022 Universal Solar Tech Inc. || All rights reserved</p>
           </div>
         </diV>
     </footer> 
</body>
</html>